:root {
    /* Цвета и основные переменные */
    --body-bg-1: #a200ff;
    --body-bg-2: #ff6f00;

    --card-bg: rgba(0, 0, 0, 0.4);

    --font-size: 1.2rem;

    --major: rgba(255, 255, 255, 0.8);
    --muted: rgba(255, 255, 255, 0.3);

    --text-input-bg: rgba(0, 0, 0, 0.4);

    --glass-blur: 10px;
    --card-border-radius: 1rem;

    --shadow: 0 6px 18px var(--card-bg);
    --max-card-width: 400px;
}

/*========== general ==========*/
* {
    box-sizing: border-box;
}

html {
    height: auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial;
    min-height: 100vh;

    background:
        linear-gradient(135deg, #75ffc3, #ffb370),
        repeating-radial-gradient(
            circle at 50% 50%,
            rgba(255,255,255,0.03) 0px,
            rgba(255,255,255,0.03) 1px,
            transparent 2px,
            transparent 4px
        );


    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    overflow-y: auto;
}

h1 {
    margin: 0;
    font-size: 3rem;
    color: var(--major);
    letter-spacing: 0.2px;
    font-weight: 600;
}

hr {
    width: 90%;
    height: 1px;
    padding: 0 1rem;
    margin: 0 1rem;
    border: none;
    background-color: var(--muted);
}

span {
    color: var(--major);
    font-size: var(--font-size);
    padding: 0;
    margin: 0;
}
img {
    max-width: 1rem;
    max-height: 1rem;
    opacity: 0.8;
}
/*========== settings ==========*/
.card {
    width: 90%;
    max-width: var(--max-card-width);
    background: var(--card-bg);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(var(--glass-blur)) saturate(1.1);
    -webkit-backdrop-filter: blur(var(--glass-blur));
    box-shadow: var(--shadow);
    overflow: hidden;
}
/*========== status bar ==========*/
.status-bar {
    background-color: red;
    width: 60%;
    height: 5px;
    border-radius: 0 0 5px 5px;
}
/*========== effects ==========*/
.effects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding: 0 1rem;
    min-height: 3rem;
}

.effects > div {

    padding: 8px 8px;
    border-radius: var(--card-border-radius);
    color: var(--major);
    font-size: var(--font-size);
}

.effects > div:active {
    background-color: var(--muted);
}

/*========== sliders ==========*/
.slider {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    min-height: 3rem;
    padding: 0 1rem;
}

.slider > input[type="range"] {
    width: 100%;
    outline: none;
    opacity: 0.9;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.card-btn {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    width: 100%;
    min-height: 3rem;
    padding: 0 1rem;
}

.card-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}
.card-btn:active {
    background-color: var(--muted);
}

/* options */

.options {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wifi-sta {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    margin-top: 4px;
    font-size: var(--font-size);
    border-radius: 0.5rem;
    border: none;
    background-color: var(--text-input-bg);
    color: var(--major);
}
